<template>
  <v-card class="mx-auto">

    <v-container fluid>
      <v-row dense>
        <v-col
          v-for="ticker in tickers"
          :key="ticker.title"
          :cols="ticker.flex"
        >
          <v-card :color="ticker.color" @click="toggleTicker(ticker)">
            <v-card-title v-text="ticker.title"></v-card-title>
            <v-card-text>{{formatTime(ticker.secondsPassed)}}</v-card-text>
            <v-card-subtitle>
              <v-icon>{{getIcon(ticker.isActive)}}</v-icon>
            </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import { StartTicker, StopTicker } from '@/store/types'
export default {
  name: 'Tickers',
  computed: {
    tickers() {
      return this.$store.state.tickers
    }
  },
  methods: {
    formatTime(s) {
      let hours   = Math.floor(s / 3600);
      let minutes = Math.floor((s - (hours * 3600)) / 60);
      let seconds = s - (hours * 3600) - (minutes * 60);

      if (hours   < 10) {hours   = "0"+hours;}
      if (minutes < 10) {minutes = "0"+minutes;}
      if (seconds < 10) {seconds = "0"+seconds;}
      return hours+':'+minutes+':'+seconds;
    },
    getIcon(isActive) {
      return isActive ? 'mdi-pause': 'mdi-play'
    },
    toggleTicker(card) {
      if (card.isActive) {
        this.$store.dispatch(StopTicker, card)
      } else {
        this.$store.dispatch(StartTicker, card)
      }
    }
  },
}
</script>
